body {
  font-family: Arial;
  background-color: #ffffff;
  margin: 0px;
  overflow: hidden;
}

#web_gl_frame {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.hg_bt_size {
  width: 48px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  bottom: 5px;
  right: 5px;
}

.hg_bt_light {
  width: 48px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  background-size: contain !important;
}

.hg_pult {
  /* width: 600px; */
  /* height: 100%; */
  position: relative;
  /* left: 10px; */
  top: -60px;
  /* padding: 3px 3px 3px 3px; */

  /* new style - Simon Balan */
  display: flex;
  width: 100%;
  left: 0;
  height: 45px;
  padding: 5px;
}

.hg_dialog {
  width: 180px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -90px;
  background: #a0a0a0;
  border: 1px #cccccc solid;
  border-radius: 8px;
  padding: 3px 3px 3px 3px;
}

.hg_dialog_content {
  width: 100%;
  height: 132px;
  position: relative;
}

.hg_dialog_buttons {
  width: 100%;
  position: relative;
}

.hg_button {
  width: 100%;
  height: 26px;
}

.hg_button_pult {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: inherit;
  display: inline-block;
  font-family: Arial, sans-serif;
  /* border: 10px; */
  cursor: pointer;
  text-decoration: none;
  /* margin: 5px; */
  /* padding: 0px; */
  outline: none;
  /* font-size: inherit; */
  box-sizing: border-box;
  transform: translate(0px, 0px);
  position: relative;
  /* height: 36px; */
  /* line-height: 36px; */
  /* width: 120px; */
  float: left;
  /* border-radius: 2px; */
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  /* background-color: rgb(255, 255, 255); */
  text-align: center;
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-color: #ec644b; */
  /* color: #ec644b; */
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;

  /* new style - Simon Balan */
  background: #fc6800;
  color: #fff;
  padding: 0;
  margin-right: 10px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 90px;
  border: 1px solid #fff;
  border-radius: 30px;
}

#bt_floor_plan_ans {
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  width: 90px;
  margin-left: 10px;
}

#bt_floor_plan_eg {
  border-radius: 30px 0 0 30px;
  margin-right: 0;
  border-right: 0;
}

#bt_floor_plan_og {
  border-radius: 0px 30px 30px 0px;
  margin-left: 0;
  border-left: 0;
}

button.hg_button_pult:hover {
  /* background-color: #d9d9d9; */
  /* new style - Simon Balan */
  filter: brightness(90%);
}

.hg_dialog_buttons .hg_button {
  width: 50%;
  height: 26px;
}

.hg_ch_box {
  width: 100%;
  height: 16px;
}

.hg_gl_progress_frame {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -150px;
  background: #3f4750;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  opacity: 0.8;
}

.loading-image {
  width: 60px;
}
